//- if !user || !user.name
//-   .container
//-     h1 Create
//-     p A bit about creating - why not..
//-     p
//-       a.btn.btn-github.btn-social(href='/auth/github?returnTo=/create')
//-         i.fa.fa-github
//-         | sign in with GitHub 
//-     p ..to see more.
//- else
if loading
  .loading-overlay
    .loading-content
      i.fa.fa-refresh.fa-spin.fa-fw  
      | Loading...
.container-fluid.scrollable-parent
  .row.scrollable-parent
    .col-lg-4.col-md-3.scrollable(style="padding-bottom:25px")
      h1 Create
      form#createForm
        .form-group
          label.radio-inline
            input(type="radio", name="terminology", id="terminology1", value="Readv2", checked='true')
            | Read v2
          label.radio-inline
            input(type="radio", name="terminology", id="terminology2", value="SNOMED")
            | SNOMED CT
        .row
          .col-lg-6
            .form-group
              label(for='synonym') Search term
              .input-group
                input#synonym.form-control(type='text',placeholder='Enter synonyms here...',autocomplete='off')
                span.input-group-btn
                  button#addSynonym.btn.btn-default(type="button") Add!
            #synonymList
          .col-lg-6
            .form-group
              label(for='exclusion') Exclusion term
              .input-group
                input#exclusion.form-control(type='text',placeholder='Enter exclusion synonyms here...',autocomplete='off')
                span.input-group-btn
                  button#addExclusion.btn.btn-default(type="button") Add!
            #exclusionList
      p#status
    #results.col-lg-8.col-md-9.scrollable-parent
      .result-placeholder(style="height: 350px;text-align:center;border: 1px dashed gray;background-color: lightgray;padding-top:100px")
        span(style="font-size:20px") Results will go here