if !user || !user.name
  .container
    h1 Enhance
    p 
      | Enhance existing code sets. You can
      ul
        li Copy/paste an existing code set to being to generate metadata for this tool
        li Use advanced machine learning to automatically create the lists of inclusion and exclusion terms
        li Highlight and correct deficiences in existing sets
        li Update code sets to the latest version of your terminology
        li Translate code sets between terminologies quickly and efficiently
      | However for all of this you need to..
    p
      a.btn.btn-github.btn-social(href='/auth/github?returnTo=/enhance')
        i.fa.fa-github
        | sign in with GitHub 
    p ..to see more.
else
  .container-fluid.scrollable-parent
    .row.scrollable-parent
      .col-lg-4.col-md-3.scrollable(style="padding-bottom:25px")
        h1 Enhance
        form#enhanceForm
          .form-group
            label.radio-inline
              input(type="radio", name="terminology", id="terminology1", value="Readv2", checked='true')
              | Read v2
            label.radio-inline
              input(type="radio", name="terminology", id="terminology2", value="SNOMED")
              | SNOMED CT
          .row
            .form-group
              label Code set
              textarea#codeSet.form-control(placeholder='Paste your existing code set here...')
          .row
            .form-group#separatorForm(style="display:none")
              label Code set separator 
              .btn-group(data-toggle='buttons')
                label.btn.btn-default
                  input#sepComma(type='radio', name='separator', autocomplete='off', value='comma')
                  |  , 
                label.btn.btn-default
                  input#sepNewLine(type='radio', name='separator', autocomplete='off', value='newline')
                  |  \n 
                label.btn.btn-default
                  input#sepTab(type='radio', name='separator', autocomplete='off', value='tab')
                  |  \t 
          .row
            .form-group
              label(for='synonym') Search term
              .input-group
                input#synonym.form-control(type='text',placeholder='Enter synonyms here...',autocomplete='off')
                span.input-group-btn
                  button#addSynonym.btn.btn-default(type="button") Add!
            #synonymList
          .row
            .form-group
              label(for='exclusion') Exclusion term
              .input-group
                input#exclusion.form-control(type='text',placeholder='Enter exclusion synonyms here...',autocomplete='off')
                span.input-group-btn
                  button#addExclusion.btn.btn-default(type="button") Add!
            #exclusionList
      #results.col-lg-8.col-md-9.scrollable-parent
        .result-placeholder(style="height: 350px;text-align:center;border: 1px dashed gray;background-color: lightgray;padding-top:100px")
          span(style="font-size:20px") Results will go here