if !user || !user.name
  .container
    h1 Search
    p A bit about searching - why not..
    p
      a.btn.btn-github.btn-social(href='/auth/github?returnTo=/search')
        i.fa.fa-github
        | sign in with GitHub 
    p ..to see more.
else
  .container-fluid.scrollable-parent
    .row.scrollable-parent
      #results.scrollable-parent