if !user || !user.name
  .container
    h1 Search
    p 
      | Search for other code sets. You can
      ul
        li Discover new code sets from other researchers
        li Make alterations and save new versions - but keeping links back to the original
        li Compare different code sets to spot differences
      | However for all of this you need to..
    p
      a.btn.btn-github.btn-social(href='/auth/github?returnTo=/search')
        i.fa.fa-github
        | sign in with GitHub 
    p ..to see more.
else
  .container-fluid.scrollable-parent
    .row.scrollable-parent
      #results.scrollable-parent