//@import "themes/default/variables";

//@import "lib/bootstrap/bootstrap";
//@import "lib/font-awesome/font-awesome";

//@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.container {
  position: relative;
}

.code-list {
  background-color: black;
  max-height: 50vh;
  min-height:200px;
  overflow-y: auto;
}

.code {
  color: #f5deb3;
  margin-right: 20px;
  font-family: 'PT Mono', 'Lucida Console', Monaco, monospace;
}

.code-description {
  color: #fff;  
  font-family: 'PT Sans', sans-serif;
}

.code-description-synonym {
  color: #adff2f;
 /* font-weight: bold;*/
  font-family: 'PT Sans', sans-serif;
}

.code-line:hover {
  background-color: #ddd;
}

.code-line:hover .code {
  color: #0A214C
}

.code-line:hover .code-description {
  color: #000
}

.code-line:hover .code-description-synonym {
  color: #5200D0;
}