footer
  .container.text-center
    p.pull-left 
      | Icons adapted from icons by  
      a(href="http://www.flaticon.com/authors/madebyoliver",title="Madebyoliver", target="_blank", rel="noopener") Madebyoliver 
      | from 
      a(href="http://www.flaticon.com", title="Flaticon", target="_blank", rel="noopener") www.flaticon.com 
      | is licensed by 
      a(href="http://creativecommons.org/licenses/by/3.0/", title="Creative Commons BY 3.0", target="_blank", rel="noopener") CC 3.0 BY
    ul.pull-right.list-inline
      li
        a(href='https://github.com/rw251/getset', target="_blank", rel="noopener") GitHub Project
      li
        a(href='https://github.com/rw251/getset/issues', target="_blank", rel="noopener") Issues
