mixin codeMissingTable(codes)
  table.table.table-condensed
    thead
      tr
        th(colspan="2")
          button.removeSelectedUnfoundCodes.btn.btn-danger Remove selected
      tr
        th Code
        th 
          input#unfoundCodeCheckAll(type="checkbox",checked="checked") 
    tbody
      each code,idx in codes
        tr
          td= code
          td
            input.unfoundCode(type="checkbox",name="unfoundCode"+idx,checked="checked",value=code)
    tfoot
      tr
        td(colspan="2")
          button.removeSelectedUnfoundCodes.btn.btn-danger Remove selected
