mixin codeFrequencyTable(codes)
  table.table.table-condensed
    thead
      tr
        th Term
        th Frequency in code set
        th Frequency in terminology
        th Relative frequency (higher better)
    tbody
      each code, idx in codes
        tr
          td= code.term
          td= code.freq
          td= code.n
          td= (100*code.freq / code.n).toFixed(1) + '%'