mixin codeTable(codes)
  table.table.table-condensed
    thead
      tr
        th Code
        th Description(s)
        th Ancestor code(s)
        th Parent(s)
    tbody
      each code in codes
        tr
          td= code._id
          td= code.t
          td= code.a
          td= code.p