each subgraph in graph
  each item in subgraph
    if !item.exclude && !item.excludedByParent
      tr
        td.disable-select= item.code
        td= item.description
        td.disable-select= item.depth
        td.disable-select= item.p