extends layout

block content
  if title === 'Create'
    include ../../shared/templates/create.jade
  else if title === 'Validate'
    include ../../shared/templates/validate.jade
  else if title === 'Enhance'
    include ../../shared/templates/enhance.jade
  else if title === 'Search'
    include ../../shared/templates/search.jade
  else
    include ../../shared/templates/home.jade