doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title Get Set

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#006df0")
    meta(name="theme-color", content="#006df0")

    noscript
      link(href="https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,700",rel="stylesheet")
    link(rel='stylesheet', href='app.css')

    // remove this if you use Modernizr
    // replaces the 'no-js' class with 'js'
    script.
      (function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);

  body
    include partials/header

    #mainContent.scrollable-parent
      include partials/flash
      block content

    include partials/footer

    script(src='libraries.js')
    script(src='app.js')
    script.
      require("application").init();
    script.
      // Add the google fonts as a deferred resource
      var deferredFonts = document.createElement('link');
      deferredFonts.rel = 'stylesheet';
      deferredFonts.href = 'https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,700';
      var godefer = document.getElementsByTagName('link')[0];
      godefer.parentNode.insertBefore(deferredFonts, godefer);
    script.
      // Add bluebird cdn if no promises
      // First use modernizr scipt to detect if promises enables
      var isPromiseImplemented = 'Promise' in window &&
        // Some of these methods are missing from
        // Firefox/Chrome experimental implementations
        'resolve' in window.Promise &&
        'reject' in window.Promise &&
        'all' in window.Promise &&
        'race' in window.Promise &&
        // Older version of the spec had a resolver object
        // as the arg rather than a function
        (function() {
          var resolve;
          new window.Promise(function(r) { resolve = r; });
          return typeof resolve === 'function';
        }());
      if(!isPromiseImplemented) {
        var bluebirdScript = document.createElement('script');
        bluebirdScript.src = "https://cdn.jsdelivr.net/bluebird/latest/bluebird.core.min.js";
        var bb = document.getElementsByTagName('script')[0];
        bb.parentNode.insertBefore(bluebirdScript, bb);
      }


