// Scaffolding
// -------------------------

// Brand colours
$blue: #006df0;
$orange: #ff9c00;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

.container-fluid {
  width: 100%;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.btn-remove-all {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 0.75em;
  padding: 2px;
}

.notification {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 10px;
  font-size: 2em;
  background: chartreuse;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.container {
  position: relative;
}

.code-list {
  background-color: black;
  max-height: 50vh;
  min-height: 200px;
  overflow-y: auto;
}

.code {
  color: #f5deb3;
  margin-right: 20px;
  font-family: 'PT Mono', 'Lucida Console', Monaco, monospace;
}

.code-description {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.code-description-synonym {
  color: #adff2f;
  font-family: 'PT Sans', sans-serif;
}

.code-description-exclusion {
  color: #cc3300;
  font-family: 'PT Sans', sans-serif;
}

.code-line.exclusion {
  text-decoration: line-through;
  color: white;
}

.code-line.exclusion .code-description-exclusion {
  text-decoration: none;
}

.code-line:hover {
  background-color: #ddd;
}

.code-line:hover .code {
  color: #0a214c;
}

.code-line:hover .code-description {
  color: #000;
}

.code-line:hover .code-description-synonym {
  color: #5200d0;
}

.code-line:hover .code-description-exclusion {
  color: #b10027;
}

.code-padding {
  margin-left: 20px;
}

.code-line.collapsed {
  font-style: italic;
}

.code-line.hidden {
  font-family: 'Times New Roman', Times, serif;
}

.alert-inline {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  margin-right: 2px;
}

.alert-inline.alert-dismissible {
  padding-right: 15px;
}

.alert-inline.alert-dismissible .close {
  right: -10px;
  top: 0;
}

.notfound {
  background-color: red;
  color: white;
}

/* Hourglass css loader */
.lds-css {
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.7);
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
  }
}
.lds-hourglass:after {
  content: ' ';
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  background: center center no-repeat;
  background-size: cover;
  width: 0;
  height: 0;
  background: none;
  border-radius: 50%;
  border: 70px solid;
  border-color: $blue transparent $orange transparent; //colour of spinner
  animation: lds-hourglass 2s linear infinite;
  -webkit-animation: lds-hourglass 2s linear infinite;
}

/* Stamp type card panels */

.token-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;
}

.token {
  position: relative;
  margin: 0.5rem 0.5rem 1rem 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.token:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.24),
    0 3px 1px -2px rgba(0, 0, 0, 0.4);
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.token:active {
  box-shadow: inherit;
}

.token .token-content {
  padding: 4px;
  border-radius: 0 0 2px 2px;
  text-align: center;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.token .token-title,
.token .token-perf {
  font-size: 20px;
  font-weight: 300;
}

$passColour: rgb(43, 140, 43);
$warnColour: rgb(162, 162, 5);
$failColour: rgb(222, 5, 5);

$passBackColour: rgba(43, 140, 43, 0.3);
$warnBackColour: rgba(222, 212, 5, 0.3);
$failBackColour: rgba(222, 5, 5, 0.3);

.token.token-pass {
  background-color: $passBackColour;
}

.token.token-warn {
  background-color: $warnBackColour;
}

.token.token-fail {
  background-color: $failBackColour;
}

.token.token-pass .token-perf {
  color: $passColour;
}

.token.token-warn .token-perf {
  color: $warnColour;
}

.token.token-fail .token-perf {
  color: $failColour;
}

.parent-row {
  background-color: $passBackColour;
}

.child-row {
  background-color: $failBackColour;
}

.child-row td.pre {
  white-space: pre;
}

/*
 *  Drag and drop form style courtesy of https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
 */

.box {
  font-size: 1.25rem; /* 20 */
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
  text-align: center;
}
.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;

  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}
.box.is-success {
  padding: 20px 20px;
  line-height: initial;

  -webkit-transition: padding 0.15s ease-in-out;
  transition: padding 0.15s ease-in-out;
}
.box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}
.box__dragndrop,
.box__icon {
  display: none;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.has-advanced-upload .box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}
.box.is-success .box__icon {
  display: none;
}

.js .box.is-success .box__file + label {
  margin-bottom: 0;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
  visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  font-size: 20px;
  color: #0f3c4b;
}
.box__uploading {
  font-style: italic;
}
.box__success {
  -webkit-animation: appear-from-inside 0.25s ease-in-out;
  animation: appear-from-inside 0.25s ease-in-out;
}
@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0);
  }
  75% {
    transform: translateY(-50%) scale(1.1);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

.box__restart {
  font-weight: 700;
}
.box__restart:focus,
.box__restart:hover {
  color: #39bfd3;
}

/* First hide the ugly input button but keep it in the dom*/
.js .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Make the input label appear as the button */
.js .box__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  font-weight: normal; /* bootstrap makes this bold */
  font-size: 20px;
  color: #0f3c4b;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
  color: #39bfd3;
}

/* Show it has focus if using the keyboard */
.js .box__file:focus + label,
.js .box__file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label * {
  pointer-events: none; /* in case of FastClick lib use */
}

.no-js .box__file + label {
  display: none;
}

.no-js .box__button {
  display: block;
}
.box__button {
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: none;
  padding: 8px 16px;
  margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus {
  background-color: #0f3c4b;
}

.scrollable-parent {
  height: 100%;
}
.scrollable {
  height: 90%;
  overflow-y: auto;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-overlay {
  position: fixed;
  top: 50px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
}

.loading-content {
  margin-top: 150px;
  color: white;
  font-size: 4em;
}

.my-table {
  margin: 0;
}

.clusterize-scroll {
  max-height: calc(100vh - 220px);
  border-bottom: 2px #dddddd solid;
}
