.code-list
  each code in codes
    .code-line
      span.code= code.code
      each bit in code.description 
        if bit.isSyn
          span.code-description-synonym= bit.text
        else
          span.code-description= bit.text