.code-list
  each group in groups
    each code in group
      if !code.exclude
        .code-line
          - for (var i = 0; i <= code.depth; ++i) {
            span.code-padding
          - } 
          span.code= code.code
          each bit in code.description 
            if bit.isSyn
              span.code-description-synonym= bit.text
            else
              span.code-description= bit.text