h1(style='margin-left: 120px;') GetSet
p.lead(style='margin-left: 120px;') Managing clinical code sets.
div
  div(style='position: absolute;width: 100px;top: 0;')
    img(src='/images/icon.svg', role='presentation', style='width:100%')

hr